In [1]:
# Import dependencies
import pandas as pd
import os
import datetime as dt

In [2]:
# Get CWD
cwd = os.getcwd()
cwd

'c:\\Users\\Ryan\\Desktop\\GitHub_Repos\\citi_bike_tableau\\Data_Handling'

In [4]:
# View each filenames month - Filename format is 'YYYY-MM_JC.csv'
for file in os.listdir(cwd + "\\Resources\\"):
    filename = os.fsdecode(file)
    if filename.endswith(".csv"):
        print(filename.split("-")[1].split("_")[0])

11
12
01
06
07
08

In [6]:
# Create two lists to concat the dfs

# One list for winter months
# One list for summer months
winter_dfs = []
summer_dfs = []

# Loop through each file in the Resources directory
for file in os.listdir(cwd + "\\Resources\\"):
    filename = os.fsdecode(file)
    if filename.endswith(".csv"):
        # Check the month of the file name - If it's a winter month, append to the 'winter_dfs' list
        if (int(filename.split("-")[1].split("_")[0]) == 11 or int(filename.split("-")[1].split("_")[0]) == 12 or int(filename.split("-")[1].split("_")[0]) == 1):
            df = pd.read_csv(cwd+"\\Resources\\"+filename, dtype={'start_station_id':"string", "end_station_id":"string"})
            winter_dfs.append(df)
        else:
            # If its not a winter month - append to the 'summer_dfs' list 
            df = pd.read_csv(cwd+"\\Resources\\"+filename, dtype={'start_station_id':"string", "end_station_id":"string"})
            summer_dfs.append(df)
    else:
        # If the file is not a csv, continue to the next file
        continue

In [7]:
# Concat the summer months into one df
summer_df = pd.concat(summer_dfs)

# Reset the index to remove duplicate values
summer_df = summer_df.reset_index(drop=True)

# Preview the df
summer_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,37BE5FCB1A385CDA,classic_bike,2023-06-27 16:06:27,2023-06-27 16:10:27,Hilltop,JC019,Christ Hospital,JC034,40.731115,-74.057468,40.734786,-74.050444,casual
1,9C96B4C6CBBB31AD,classic_bike,2023-06-24 10:46:58,2023-06-24 10:55:27,Baldwin at Montgomery,JC020,Hamilton Park,JC009,40.723473,-74.064338,40.727596,-74.044247,member
2,C91293605D4BEC07,electric_bike,2023-06-04 20:30:13,2023-06-04 20:34:31,Hilltop,JC019,Brunswick St,JC023,40.731169,-74.057574,40.724176,-74.050656,member
3,2920063442116A46,classic_bike,2023-06-08 19:10:06,2023-06-08 19:13:05,Baldwin at Montgomery,JC020,Astor Place,JC077,40.723499,-74.064335,40.719282,-74.071262,member
4,E205FD8C18BA263A,classic_bike,2023-06-23 18:53:51,2023-06-23 19:17:50,Baldwin at Montgomery,JC020,Adams St & 11 St,HB507,40.723511,-74.064277,40.750916,-74.033541,member

In [8]:
# Concat the winter months into one df
winter_df = pd.concat(winter_dfs)

# Reset the index to remove duplicate values
winter_df = winter_df.reset_index(drop=True)

# Preview the df
winter_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,7B06EEA21608591A,classic_bike,2022-11-12 14:47:21,2022-11-12 14:58:55,Newport PATH,JC066,7 St & Monroe St,HB304,40.727146,-74.033620,40.746413,-74.037977,casual
1,B22A3E8765F1E165,classic_bike,2022-11-30 08:29:53,2022-11-30 08:45:56,Newport PATH,JC066,7 St & Monroe St,HB304,40.727216,-74.033609,40.746413,-74.037977,member
2,CFB2EB1663C02BB6,electric_bike,2022-11-09 08:28:30,2022-11-09 08:44:50,Newport PATH,JC066,7 St & Monroe St,HB304,40.727224,-74.033759,40.746413,-74.037977,member
3,85700816DAAE1C36,electric_bike,2022-11-30 14:48:11,2022-11-30 14:58:10,Newport PATH,JC066,7 St & Monroe St,HB304,40.727224,-74.033759,40.746413,-74.037977,member
4,009EBB1F54C5947E,electric_bike,2022-11-10 18:14:33,2022-11-10 18:23:08,Newport PATH,JC066,7 St & Monroe St,HB304,40.727224,-74.033759,40.746413,-74.037977,member

In [9]:
# Convert start and end date/time to correct dtype
summer_df[["started_at","ended_at"]] = summer_df[["started_at","ended_at"]].astype("datetime64[ns]", errors="raise")
winter_df[["started_at","ended_at"]] = winter_df[["started_at","ended_at"]].astype("datetime64[ns]", errors="raise")

# Check the dtypes are correct
print(summer_df.info())
print("-" * 50)
print(winter_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315658 entries, 0 to 315657
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             315658 non-null  object
 1   rideable_type       315658 non-null  object
 2   started_at          315658 non-null  datetime64[ns]
 3   ended_at            315658 non-null  datetime64[ns]
 4   start_station_name  315596 non-null  object
 5   start_station_id    315596 non-null  string
 6   end_station_name    314579 non-null  object
 7   end_station_id      314579 non-null  string
 8   start_lat           315658 non-null  float64
 9   start_lng           315658 non-null  float64
 10  end_lat             315328 non-null  float64
 11  end_lng             315328 non-null  float64
 12  member_casual       315658 non-null  object
dtypes: datetime64[ns](2), float64(4), object(5), string(2)
memory usage: 31.3+ MB
None
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177369 entries, 0 to 177368
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             177369 non-null  object
 1   rideable_type       177369 non-null  object
 2   started_at          177369 non-null  datetime64[ns]
 3   ended_at            177369 non-null  datetime64[ns]
 4   start_station_name  177359 non-null  object
 5   start_station_id    177359 non-null  string
 6   end_station_name    176680 non-null  object
 7   end_station_id      176680 non-null  string
 8   start_lat           177369 non-null  float64
 9   start_lng           177369 non-null  float64
 10  end_lat             177134 non-null  float64
 11  end_lng             177134 non-null  float64
 12  member_casual       177369 non-null  object
dtypes: datetime64[ns](2), float64(4), object(5), string(2)
memory usage: 17.6+ MB
None

In [10]:
# Add a column to join the weather data to in Tableau
summer_df['weather_join'] = summer_df['started_at'].dt.strftime("%Y-%m-%d %H:00:00")
winter_df['weather_join'] = winter_df['started_at'].dt.strftime("%Y-%m-%d %H:00:00")

In [11]:
# Check the `summer_df` DataFrame
summer_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,weather_join
0,37BE5FCB1A385CDA,classic_bike,2023-06-27 16:06:27,2023-06-27 16:10:27,Hilltop,JC019,Christ Hospital,JC034,40.731115,-74.057468,40.734786,-74.050444,casual,2023-06-27 16:00:00
1,9C96B4C6CBBB31AD,classic_bike,2023-06-24 10:46:58,2023-06-24 10:55:27,Baldwin at Montgomery,JC020,Hamilton Park,JC009,40.723473,-74.064338,40.727596,-74.044247,member,2023-06-24 10:00:00
2,C91293605D4BEC07,electric_bike,2023-06-04 20:30:13,2023-06-04 20:34:31,Hilltop,JC019,Brunswick St,JC023,40.731169,-74.057574,40.724176,-74.050656,member,2023-06-04 20:00:00
3,2920063442116A46,classic_bike,2023-06-08 19:10:06,2023-06-08 19:13:05,Baldwin at Montgomery,JC020,Astor Place,JC077,40.723499,-74.064335,40.719282,-74.071262,member,2023-06-08 19:00:00
4,E205FD8C18BA263A,classic_bike,2023-06-23 18:53:51,2023-06-23 19:17:50,Baldwin at Montgomery,JC020,Adams St & 11 St,HB507,40.723511,-74.064277,40.750916,-74.033541,member,2023-06-23 18:00:00

In [12]:
# Check the `winter_df` DataFrame
winter_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,weather_join
0,7B06EEA21608591A,classic_bike,2022-11-12 14:47:21,2022-11-12 14:58:55,Newport PATH,JC066,7 St & Monroe St,HB304,40.727146,-74.033620,40.746413,-74.037977,casual,2022-11-12 14:00:00
1,B22A3E8765F1E165,classic_bike,2022-11-30 08:29:53,2022-11-30 08:45:56,Newport PATH,JC066,7 St & Monroe St,HB304,40.727216,-74.033609,40.746413,-74.037977,member,2022-11-30 08:00:00
2,CFB2EB1663C02BB6,electric_bike,2022-11-09 08:28:30,2022-11-09 08:44:50,Newport PATH,JC066,7 St & Monroe St,HB304,40.727224,-74.033759,40.746413,-74.037977,member,2022-11-09 08:00:00
3,85700816DAAE1C36,electric_bike,2022-11-30 14:48:11,2022-11-30 14:58:10,Newport PATH,JC066,7 St & Monroe St,HB304,40.727224,-74.033759,40.746413,-74.037977,member,2022-11-30 14:00:00
4,009EBB1F54C5947E,electric_bike,2022-11-10 18:14:33,2022-11-10 18:23:08,Newport PATH,JC066,7 St & Monroe St,HB304,40.727224,-74.033759,40.746413,-74.037977,member,2022-11-10 18:00:00

In [13]:
# Output the dataframes to CSV files
summer_df.to_csv("Outputs/summer_df.csv", index=False)
winter_df.to_csv("Outputs/winter_df.csv", index=False)